@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-main: #8261EE;
    --color-highlight: #FF589E;
    --color-text-1: #1e1e1e;
    --color-text-2: #777;

    --color-bg-1: #F2F2FE;

    --font: 'Raleway', sans-serif;
}
body{
    font-family: var(--font);
    line-height: 1.4;
}
a:hover{
    text-decoration: none;
}
/* Buttons */
.button{
    background: #eeeeee;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-1);
    transition: all 0.3s;
}
.button-highlight{
    background: var(--color-highlight);
    color: #fff;
}
.button-highlight:hover{
    color: #fff;
    background-color: var(--color-main);
}
.button-main{
    background: var(--color-main);
    color: #fff;
}
.button-main:hover{
    color: #fff;
    background-color: var(--color-highlight);
}

/* End Buttons */

.box-head{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}
.box-head .inner-title{
    font-size: 28px;
    font-weight: 500;
    color: var(--color-text-1);
}
.box-head .inner-desc{
    font-size: 16px;
    margin-top: 10px;
    color: var(--color-text-2);
}
.box-head.text-white .inner-title{
    color: #fff;
}
.box-head.text-white .inner-desc{
    color: #fff;
}